@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles */
.closed-max-height {
  max-height: 100px;
  transition: max-height 0.3s ease;
}

.accordion-content {
  font-family: "Inconsolata", monospace;
  flex-shrink: 10;
  line-height: normal;
  
}

/* Add these styles */
.accordion-header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.accordion-header.rotated {
  /* transform: rotate(90deg); */
  /* font-size: 96px; */
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* Existing styles */
html,
body {
  height: 100%;
}

body {
  background-image: linear-gradient(20deg, black 0%, black 40%, white 40%, white 60%, black 60%, black 100%);
  background-color: black;
  min-height: -webkit-fill-available
  height: calc(var(--vh, 1vh) * 100);
}

p, ul {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .accordion-header.rotated {
    /* font-size: 192px; */
  }
}

@media (min-height: 768px) {
  .accordion-content {
    /* max-height: 500px; */
  }
}